/* Resetează marginile și padding-ul la nivel global */
body, html {
    margin: 0;
    padding: 0;
  }
  /* Stil pentru containerul tabelului */
  .table-container {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    overflow-x: auto;
  }
  
  /* Stil pentru tabelul propriu-zis */
  .file-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Asigură o lățime fixă pentru coloane */
   
    margin: 0 !important;
    padding: 0 !important;
  }
  
  /* Stil pentru celulele din tabel */
  .file-table th,
  .file-table td {
    padding: 15px;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
  }
  
  /* Stil pentru header-ul tabelului */
  .file-table th {
    background-color: #007bff;
    color: white;
    font-size: 1.1em;
    position: sticky;
    left: 100;
    
  }
  


  .custom-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .ptform {
          /* Lțime maximă */
    margin: 0 auto;           /* Centrează pe orizontală */
    padding: 2rem;            /* Spațiu interior */
    width: 100%;
    border:none;   /* Chenar subțire */
    border-radius: 8px;       /* Colțuri rotunjite */
    text-align: center;       /* Centrează conținutul */
  }
  

  .ptform input[type="file"] {
    display: block;
    margin: 0 auto 1rem auto; 
  }
  

  .fixed-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #9fa8b4;
    color: #220a0a; 
    border: none;
    border-radius: 4px;
  
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 2.5px;
    text-align: center;
  }

  .fixed-button:hover {
    background-color: #0056b3; /* Efect hover identic */
    color: #fff;
  }
  
  /* Opțional - pentru aliniere perfectă în celulă */
  .file-table td:last-child {
    text-align: center;
    padding: 15px 10px;
  }
  
  .ptform button, .edit-btn {
    min-width: 120px; 
  }