.record-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.record-btn, .stop-btn, .save-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.record-btn {
  background: #047408;
    color: #220a0a;
}
.record-btn:hover {
  background: #056307;
    color:white;
}

.stop-btn {
  background-color: #dc3545;
  color: white;
}
.stop-btn:hover {
  background: #8c0f0f;
  color:white;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.timer {
  font-size: 1.2em;
  margin: 10px 0;
}

.preview {
  margin-top: 20px;
}

.preview audio {
  width: 100%;
  display: block;
  margin-top: 10px;
}

.input1{
  padding: 8px;
  margin-right: 10px;
  
  width: 200px;
  margin-top: 10px; 

}
.save-controls {
  margin-top: 10px;
  
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  background-color: #9fa8b4;
  color: #220a0a; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 0 2.5px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3; 
    color: #fff;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.visualizer-container {
  margin: 20px 0;
  background: rgb(20, 20, 20);
  border-radius: 8px;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 200px;
  display: block;
}